name: unit-tests
on:
  push:
    branches:
      - master
  pull_request:
    types: [opened,ready_for_review,synchronize]

env:
  flutter_version: "3.13.0"
    
jobs:
  test-analyze:
    name: Lint and Tests
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macOS-12]
    if: github.event.pull_request.draft == false
    steps:
    - name: Checkout code
      uses: actions/checkout@v3
    - name: Intall dart
      uses: dart-lang/setup-dart@v1
    - name: Setup Flutter
      uses: subosito/flutter-action@v2
      with:
        flutter-version: ${{ env.flutter_version }}
        cache: true
    - run: flutter pub get
    - run: flutter analyze
    - run: dart format --output=none --set-exit-if-changed .
